@font-face {
    font-family: 'MainFont';
    src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: BoldFont;
    src: url('/assets/fonts/static/SpaceGrotesk-Bold.ttf');
    src: url('/assets/fonts/static/SpaceGrotesk-Medium.ttf');
}

:root {
    --dark: #151515;
    --dark-grey: #242424;
    --green: #4EE1A0;
    --grey: #D9D9D9;
    --white: #FFFFFF;
    --bg: #F2F2F2;

    --main-font: 'MainFont', sans-serif, monospace;
    --bold-font: 'BoldFont', sans-serif, monospace;

    --font-size-heading-xl: 88px;
    --font-size-heading-l: 48px;
    --font-size-heading-m: 24px;
    --font-size-body: 18px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'MainFont', sans-serif;
    background-color: var(--dark);
    font-size: var(--font-size-body);
    color: var(--white);
    margin: 0;
    padding: 0;
}


/* navbar */
nav {
    padding: 30px;
    text-align: center;
}

nav>span {
    font-family: var(--bold-font);
    font-size: var(--font-size-heading-m);
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 5px;
}

/* hero section */

.photo-wrap {
    text-align: center;
}

.photo-wrap .photo {
    width: 50%;
}

.ring,
.circle {
    position: absolute;
}

.photo-wrap .ring {
    right: 50%;
}

.photo-wrap .circle {
    left: 80%;
}

.hero article {
    text-align: center;
    padding: 8px;
}

.hero article h1 {
    font-family: var(--bold-font);
    font-size: 40px;
}

.hero article h1 span {
    border-bottom: 4px solid var(--green);
    padding-bottom: 1px;
}

.hero article p {
    margin-bottom: 40px;
}

.link-contact {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.link-contact h3 {
    display: inline;
    border-bottom: 2px solid var(--green);
    padding-bottom: 10px;
    font-family: var(--bold-font);
    font-size: 16px;
    letter-spacing: 3px;
}

hr {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    width: 90%;
}

/* skills section */

.skills {
    text-align: center;
}

/* projects section */

.projects {
    padding: 0 15px;
}

.projects .title-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects h2 {
    margin: 5px;
    font-size: 40px;
}

.projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    margin-top: 30px;
}

.project h3 {
    margin: 15px 0;
}

.project p {
    margin: 0;
    margin-bottom: 24px;
}

.project p span {
    padding-right: 15px;
}

.project span a {
    padding-right: 25px;
    cursor: pointer;
}