@font-face {
    font-family: 'MainFont';
    src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: BoldFont;
    src: url('/assets/fonts/static/SpaceGrotesk-Bold.ttf');
    src: url('/assets/fonts/static/SpaceGrotesk-Medium.ttf');
}

:root {
    --dark: #151515;
    --dark-grey: #242424;
    --green: #4EE1A0;
    --grey: #D9D9D9;
    --white: #FFFFFF;
    --bg: #F2F2F2;

    --main-font: 'MainFont', sans-serif, monospace;
    --bold-font: 'BoldFont', sans-serif, monospace;

    --font-size-heading-xl: 88px;
    --font-size-heading-l: 48px;
    --font-size-heading-m: 24px;
    --font-size-body: 18px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'MainFont', sans-serif;
    background-color: var(--dark);
    font-size: var(--font-size-body);
    color: var(--white);
    margin: 0;
    padding: 0;
}

/* Styling for mobile version */

/* navbar */
nav {
    padding: 30px;
    text-align: center;
}

nav>span {
    font-family: var(--bold-font);
    font-size: var(--font-size-heading-m);
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 5px;
    cursor: pointer;
}

nav ul li img:hover {
    color: var(--green);
}

/* hero section */

.photo-wrap {
    text-align: center;
}

.photo-wrap .photo {
    width: 50%;
}

.ring,
.circle {
    position: absolute;
}

.photo-wrap .ring {
    right: 50%;
}

.photo-wrap .circle {
    left: 80%;
}

.hero article {
    text-align: center;
    padding: 8px;
    margin-bottom: 80px;
}

.hero article h1 {
    font-family: var(--bold-font);
    font-size: 40px;
}

.hero article h1 span {
    border-bottom: 4px solid var(--green);
    padding-bottom: 1px;
}

.hero article p {
    margin-bottom: 40px;
    color: var(--grey);
}

.link-contact {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.link-contact:hover {
    color: var(--green);
}

.link-contact h3 {
    display: inline;
    border-bottom: 2px solid var(--green);
    padding-bottom: 10px;
    font-family: var(--bold-font);
    font-size: 16px;
    letter-spacing: 3px;
}

hr {
    margin: 0 15px;
}

/* skills section */

.skills {
    margin: 40px 0;
    text-align: center;
}

.skills p {
    color: var(--grey);
}

/* projects section */

.projects {
    margin: 60px 0 20px 0;
    padding: 0 15px;
    padding-bottom: 60px;
}

.projects .title-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects h2 {
    margin: 5px;
    font-size: 40px;
}

.projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    margin-top: 30px;
}

.project h3 {
    margin: 15px 0;
}

.project p {
    margin: 0;
    margin-bottom: 24px;
}

.project p span {
    padding-right: 15px;
    color: var(--grey);
}

.project span a {
    padding-right: 25px;
    cursor: pointer;
}


/* contact section */

#contact {
    text-align: end;
    background-color: var(--dark-grey);
    padding: 40px 15px;
}

#contact div {
    text-align: center;

}

#contact h2 {
    font-size: 40px;
}

#contact p {
    font-size: 16px;
    color: var(--grey);

}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#contact form input,
textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid var(--grey);
    color: var(--white);
    font-family: var(--main-font);
    padding: 0;
    text-transform: uppercase;
}

input:focus,
textarea:focus {
    outline: none;

    padding: 20px;
}

#contact form label {
    padding: 25px 0 5px 30px;
    color: #979797;
    font-size: 16px;
}

#contact .ring {
    right: 50%;
}

button {
    padding: 0;
    margin: 40px 0;
    background: none;
    border: none;
}

button:hover {
    color: var(--green);
}


/* footer */

footer {
    padding-top: 10px;
    background-color: var(--dark-grey);
    text-align: center;
}

.hr {
    display: flex;
    border-bottom: 2px solid;
    width: 90%;
    text-align: center;
}


/* Styling for desktops version */

@media screen and (min-width: 600px) {

    body {
        padding: 40px 165px;
    }

    /* navbar */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    /* hero section */
    .hero {
        display: grid;
        grid-template-columns: repeat(auto, 5);
        grid-template-rows: auto;
        padding: 30px;
    }

    .photo-wrap {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .hero article {
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: start;
        padding: 0 70px 0 0;
    }

    hr {
        grid-column: 1/5;
        margin: 0;
        margin-top: 80px;
    }

    .photo-wrap .photo {
        width: 100%;
    }

    .photo-wrap .ring {
        right: 70%;
    }

    .photo-wrap .circle {
        top: 95%;
        left: 60%;
    }

    .hero article h1 {
        font-size: var(--font-size-heading-xl);
    }

    /* skills section */
    .skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }

    .skills-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills-block div {
        text-align: start;
    }

    .skills-block div h2 {
        font-size: var(--font-size-heading-l);
    }

    .skills .ring {
        left: 70%;
    }

    /* projects section */
    .projects .title-project {
        margin-bottom: 50px;
    }

    .projects-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 1rem;
        row-gap: 2rem;
    }

    /* contact section */
    #contact {
        padding: 0;
    }
    #contact .contact-box {
        display: flex;
    }

    #contact .contact-box div {
        width: 50%;
        padding-right: 80px;
        text-align: start;
    }

    #contact .contact-box div h2 {
        margin: 20px 0;
        font-size: var(--font-size-heading-xl);

    }

    .contact-box form {
        width: 50%;
        padding-left: 80px;
    }


}